<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet "application" %>
  </head>
  <body>
    <% if session[:logged_user_id] != nil %>
      <%=
        form_for :user, routes.sign_out_path, method: :delete do
          submit 'Logout'
        end
      %>
    <% else %>
      <%= link_to 'Come on!', routes.come_on_path %>
    <% end %>

    <%= flash_message %>

    <%= yield %>
  </body>
</html>
