<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet "application" %>
  </head>
  <body class='<%= body_class %>'>
    <div class='container'>
      <%= flash_message %>

      <%= yield %>
    </div>
  </body>
</html>
